body{
  background-image: url(../index/image/35402.webp);
}

.menu {
    color: blue;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container1 {
  height: 400px;
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inputField::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 1);
    opacity: 1; 
   
  }
  
  .inputField:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 1);
    
  }
  
  .inputField::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, 1);
    
  }

.inputField {
    margin: 20px 10px 0 0;
    cursor: auto;
    font-size: small;
    
    border: none;
}

.nkar { 
  position: absolute;
  top:15%;
  left: -20%;
  width: 100%;
  max-width: 500px;
  height: 500px;
  background-image: url(../index/image/35405.webp);
  background-repeat: no-repeat;
  background-size:contain;
  transition: 1s;
}

.nkar:hover {
  opacity: 0.5;
 
}

.searchInput {
  display: flex;
}


.inputPass {
  position: relative;
}

.eyePass {
  cursor: pointer;
  position: absolute;
  right: 2%;
  transform: translateY(-50%);
  top: 50%;
}

.desktopMenu {
  display: block;
}

.backButton {
  position: absolute;
  right: 5%;
  top: 2%;
  
}

.helpMenu {
  position: sticky;
  top: 25% ;
  display: flex;
  justify-content: space-evenly;
}

.language .dropdown-menu[data-bs-popper] {
  right: 0;
  left: unset;
}